.full-width-table {
  width: 100%;
}

tr {
  cursor: pointer;
}

/* I copy pasted these classes from browser inspector, i tried the simpler looking way but it didn't work so this will have to do */
.mat-mdc-table .mat-mdc-row:hover, .mat-mdc-table .mat-mdc-footer-row:hover {
  background-color: lightblue;
}


.mat-mdc-table .mat-mdc-row.selected {
  background-color: lightblue; /* Change the background color as desired */
}
